<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- mybatis支持属性使用驼峰的命名mapUnderscoreToCamelCase：
	是否启用下划线与驼峰式命名规则的映射（如first_name => firstName） -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
<!-- 别名扫描 -->
	<typeAliases>
		<package name="com.crud.bean"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--分页参数合理化  -->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>
</configuration>